// Mixins

@mixin image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%; 
}

@mixin mediaq {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// media queries

@mixin medq($break) {
  @media (min-width: $break-m) {
    @content;
  }
}

//Theme cards

// @for $i from 1 through 3 {
//   ul:nth-child(3n + #{$i}) {
//     background-color: lighten($base-color, $i * 5%);
//  }
// }