// Button


/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: red;
    transition: background-color, .8s;
  }
}

@each $button, $color in $btns {
  #{$button} {
    background-color: $color;
  }
}

