// Images


/* ============================================= */
/*              Images                           */
/* ============================================= */


.img {
	&-avatar {
		@include image;
  		max-height: 100%;
	}
	&-frame {
		@include image;
  		padding: 13px;
  		border: 1px solid $color-border;
	}
	&-logo {
		@include image;
	}

}


